body{
    font-family: 'Poppins', sans-serif;
    background-color: #4A4E69;
    color: #F2E9E4;
    margin: 0px;
}

#header{
    text-align: center;
    font-size: 18px;
}

#navigation{
    background-color: #22223B;
    text-align: center;
}

#navigation ul{
    list-style: none;
    font-size: 20px;
}

#navigation ul li{
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 40px;
}

#content{
    background-color: #22223B;
    margin: 50px;
}

#article{
    padding: 40px;
}

.section-picture{
    object-fit: cover;
    float: left;
    width: 300px;
    margin-right: 50px;
}

.section-color{
    background-color: #4A4E69;
    padding: 10px;
    margin-top: 20px;
}

#classification th, td{
    padding-right: 50px;
}

#classification{
    margin-left: 5em;
    position: relative;
}